@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind-compatible scrollbar styling */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  /* Make it thinner */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  /* Neutral gray color */
  border-radius: 4px;
  /* Rounded corners */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
  /* Darker gray on hover */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #edf2f7;
  /* Light gray track */
}
